.gallery {
  background: var(--white-colour);
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  &.project-category {
    background: var(--primary-dark);
    width: 100%;
    height: 100%;
    min-height: 100vh;

    @media screen and (max-width: 991px) {
      padding: 130px 0 0;
      text-align: center;
    }

    .gallery {
      &__header {
        border-color: rgba(255,255,255,0.1);

        h3 {
          color: var(--white-colour);
        }

        button {
          display: none;
        }
      }

      &__item {
        background-color: var(--primary-colour);

        &:hover {
          border-color: var(--secondary-colour);

          .gallery__item-data {
            span {
              color: var(--secondary-colour);
            }
          }
        }

        &-data {
          span {
            color: rgba(220, 220, 220, 1);
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
          }
        }
      }

      &__grid {
        @media screen and (min-width: 768px) {
          padding: 0.75rem 0.75rem;
        }
      }
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 2.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    > *:nth-child(2) {
      margin-top: 1.5rem;
    }

    @media screen and (min-width: 540px) {
      flex-direction: row;
      justify-content: space-between;
      
      > *:nth-child(2) {
        margin-top: 0;
      }
    }

    h3 {
      color: var(--primary-dark);
      margin: 0;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: var(--primary-dark);
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      margin: 0;
      padding: 0;

      &:hover {
        color: var(--error-colour);
      }

      svg {
        color: inherit;
        fill: currentColor;
      }
    }

    > a {
      padding: 0.5rem 0.75rem;
      font-size: 1rem;
      background-color: var(--secondary-colour);
      border-radius: 4px;
      color: var(--white-colour);

      &:hover {
        background-color: var(--secondary-dark);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    padding: 0.75rem 0;
  }

  &__column {
    padding: 0.75rem;
    float: left;
  }

  &__item {
    padding: 0.75rem;
    border: 1px solid rgba(0,0,0,0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &:hover {
      border-color: var(--primary-colour);
      background-color: rgba(0,0,0,0.025);
    }

    &-image img {
      display: block;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0;
    }

    &-data {
      padding: 0.5rem 0.25rem;
      text-align: center;

      span {
        font-family: var(--body-font);
        font-size: 14px;
        color: #676767;
      }
    }
  }
}

.image-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-colour);
  padding: 0.75rem;

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    height: 100%;
    padding: 0.75rem 0;

    span {
      color: #707070;
      text-align: center;
    }

    img {
      @media screen and (min-width: 992px) {
        max-width: 90%;
        max-height: 90%;
      }
    }

    button {
      font-size: 14px;
      letter-spacing: 0.05em;
      display: inline-block;
      background: none;
      border: none;
      font-family: var(--body-font);
      color: #707070;
      cursor: pointer;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      outline: 0;

      &:hover {
        color: var(--error-colour);
      }
    }
  }
}
