.text-capitalise {
  text-transform: capitalize;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.bg {
  &-primary-lighter {
    background-color: var(--primary-lighter);
  }

  &-primary-light {
    background-color: var(--primary-light);
  }

  &-primary {
    background-color: var(--primary-colour);
  }

  &-primary-dark {
    background-color: var(--primary-dark);
  }

  &-primary-darker {
    background-color: var(--primary-darker);
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.no-scroll {
  overflow: hidden !important;
}





.modal {
  &-container {
    background: none;
    transition-timing-function: linear;
    border: none;
    padding: 0;
  }

  &-item {
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    will-change: opacity;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: linear;
    display: flex;
    align-items: center;
    justify-content: center;

    &--enterDone {
      opacity: 1;
    }

    @media screen and (min-width: 992px) {
      padding-left: 210px;
    }

    &-wrapper {
      position: relative;
      display: block;
      width: calc(100% - 2rem);
      margin-left: auto;
      margin-right: auto;
      background-color: var(--primary-light);
      padding: 2rem;
      border-radius: 10px;

      @media screen and (min-width: 768px) {
        width: 50%;
      }

      &.modal-item-pending {
        width: auto !important;
        padding: 3rem;
      }
    }

    &-content {
      color: var(--white-alt);
      
      * {
        color: inherit;
        margin-bottom: 1rem;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: var(--white-colour);
      }
    }

    &-toggle {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      font-size: 1.5rem;
      line-height: 1;
      display: block;
      border: none;
      padding: 0;
      margin: 0;
      color: var(--white-colour);
      background: none;
      cursor: pointer;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;

      i,
      svg {
        font-size: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
        color: inherit;
        fill: currentColor;
      }

      &:hover {
        color: var(--error-colour);
      }

      @media screen and (min-width: 992px) {
        right: 1.25rem;
        width: 1.75rem;
        height: 1.75rem;
        font-size: 1.75rem;
      }
    }
  }
}