:root {
  --primary-lighter: #2f4a2d;
  --primary-light: #223c21;
  --primary-colour: #023815;
  --primary-dark: #022D11;
  --primary-darker: #02270F;

  --secondary-colour: #c6ab66;

  --white-colour: #fff;
  --white-alt: #C8C8C8;

  --error-colour: #eb7373;

  --z-fixed: 100;
}