:root {
  --primary-lighter: #2f4a2d;
  --primary-light: #223c21;
  --primary-colour: #023815;
  --primary-dark: #022D11;
  --primary-darker: #02270F;

  --secondary-light: #D3BD87;
  --secondary-colour: #c6ab66;
  --secondary-dark: #9D813A;

  --white-colour: #fff;
  --white-alt: #C8C8C8;

  --error-light: #F19C9C;
  --error-colour: #eb7373;
  --error-dark: #E23333;

  --z-fixed: 100;
}